.quoteLinks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  
.quoteLink {
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: goldenrod;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
  }
  
.quoteLink a {
    text-decoration: none;
    color: #242B64;
  }
  
 .quoteLink a:hover {
    color: #0077b6;
  }

h1 {
    text-align: center;
    color: white;
}


  
