nav {
    background-color: goldenrod;
    padding: 10px;
    color: #242B64;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    border-radius: 10px;
    font-size: 23px;
}

a {
    text-decoration: none;
    color: #9e5719;
  }
  
a:hover {
    color: #0077b6;
  }

img {
    height: 120px;
    border-radius: 10px;
    border: 2px solid white;
}